@charset "Utf-8";
/* calular 250px- */
/* tablet 768px-992px */

/* Tablet */


@media screen and (min-width:768px) and (max-width:992px) {

    

    #login{
        width: 90vw;
        height: 300px;
    }

    #imagem{
        background-image: url(../imagens/pexels-packermann-1666012.jpg);
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center  ;
    }

    #formulario{
        float: right;
        width: 67%;
    }
    
}

@media screen and (min-width:992px) {

    body{
        background-repeat: no-repeat;
        background-size: cover;
    }

    #login{
        width: 90vw;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
        background: url(../imagens/pexels-packermann-1666012.jpg);
        background-position: center center;

    }

    #formulario{
        float: left;
        width: 47%;
    }

   
}